In [18]:
import pandas as pd

In [19]:
df1 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/천안_전기차/천안 유동인구 7월_sample.csv')

In [20]:
df2 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/천안_전기차/천안 유동인구 8월_sample.csv')

In [21]:
df3 = pd.read_csv('C:/Users/user/Desktop/workSpace/분석/표준분석모델/천안_전기차/천안 유동인구 9월_sample.csv')

In [22]:
df4 = [df1, df2, df3]

In [23]:
df4 = pd.concat(df4)

In [24]:
df4

,MON,BLOCK_CD,X_COORD,Y_COORD,TMST_00,TMST_01,TMST_02,TMST_03,TMST_04,TMST_05,...,TMST_14,TMST_15,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23
0,7,34011320100030000001,956333.991787,1.850829e+06,0.00,0.00,0.00,0.00,0.00,0.00,...,0.23,0.15,0.13,0.09,0.08,0.06,0.04,0.03,0.02,0.01
1,7,34011320100030000001,956333.991787,1.850879e+06,0.00,0.00,0.00,0.00,0.00,0.00,...,0.28,0.19,0.17,0.12,0.10,0.07,0.05,0.05,0.02,0.01
2,7,34011320100030000001,956383.991787,1.850879e+06,0.00,0.00,0.01,0.00,0.00,0.00,...,0.10,0.12,0.10,0.09,0.06,0.05,0.04,0.05,0.03,0.01
3,7,34011320100030000001,956433.991787,1.851029e+06,0.01,0.00,0.00,0.00,0.00,0.00,...,0.55,0.35,0.32,0.22,0.18,0.13,0.11,0.09,0.04,0.02
4,7,34011320100030000001,956533.991787,1.851029e+06,0.00,0.00,0.01,0.01,0.00,0.01,...,0.22,0.16,0.18,0.07,0.05,0.01,0.01,0.00,0.01,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77801,9,34011370100010000001,992783.991787,1.862629e+06,0.11,0.10,0.08,0.07,0.16,0.37,...,1.85,1.80,1.67,1.42,0.96,0.64,0.47,0.25,0.20,0.13
77802,9,34011370100010000001,992833.991787,1.862229e+06,0.09,0.08,0.10,0.14,0.17,0.25,...,1.73,1.60,1.94,1.94,1.07,0.77,0.60,0.23,0.17,0.13
77803,9,34011370100010000001,992833.991787,1.862279e+06,0.08,0.06,0.05,0.04,0.11,0.25,...,1.22,1.19,1.10,0.94,0.63,0.42,0.32,0.16,0.13,0.08
77804,9,34011370100010000001,992883.991787,1.862479e+06,0.08,0.07,0.05,0.04,0.11,0.26,...,1.28,1.25,1.15,0.99,0.66,0.44,0.33,0.16,0.14,0.09
77805,9,34011370100010000001,992883.991787,1.862529e+06,0.18,0.14,0.11,0.12,0.23,0.52,...,2.86,2.81,2.40,2.13,1.40,1.02,0.75,0.43,0.31,0.22

In [25]:
df4['total'] = df4.iloc[:,4:27].sum(axis=1)

In [26]:
df4

,MON,BLOCK_CD,X_COORD,Y_COORD,TMST_00,TMST_01,TMST_02,TMST_03,TMST_04,TMST_05,...,TMST_15,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23,total
0,7,34011320100030000001,956333.991787,1.850829e+06,0.00,0.00,0.00,0.00,0.00,0.00,...,0.15,0.13,0.09,0.08,0.06,0.04,0.03,0.02,0.01,1.98
1,7,34011320100030000001,956333.991787,1.850879e+06,0.00,0.00,0.00,0.00,0.00,0.00,...,0.19,0.17,0.12,0.10,0.07,0.05,0.05,0.02,0.01,2.47
2,7,34011320100030000001,956383.991787,1.850879e+06,0.00,0.00,0.01,0.00,0.00,0.00,...,0.12,0.10,0.09,0.06,0.05,0.04,0.05,0.03,0.01,1.19
3,7,34011320100030000001,956433.991787,1.851029e+06,0.01,0.00,0.00,0.00,0.00,0.00,...,0.35,0.32,0.22,0.18,0.13,0.11,0.09,0.04,0.02,4.73
4,7,34011320100030000001,956533.991787,1.851029e+06,0.00,0.00,0.01,0.01,0.00,0.01,...,0.16,0.18,0.07,0.05,0.01,0.01,0.00,0.01,0.00,1.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77801,9,34011370100010000001,992783.991787,1.862629e+06,0.11,0.10,0.08,0.07,0.16,0.37,...,1.80,1.67,1.42,0.96,0.64,0.47,0.25,0.20,0.13,25.50
77802,9,34011370100010000001,992833.991787,1.862229e+06,0.09,0.08,0.10,0.14,0.17,0.25,...,1.60,1.94,1.94,1.07,0.77,0.60,0.23,0.17,0.13,23.90
77803,9,34011370100010000001,992833.991787,1.862279e+06,0.08,0.06,0.05,0.04,0.11,0.25,...,1.19,1.10,0.94,0.63,0.42,0.32,0.16,0.13,0.08,16.87
77804,9,34011370100010000001,992883.991787,1.862479e+06,0.08,0.07,0.05,0.04,0.11,0.26,...,1.25,1.15,0.99,0.66,0.44,0.33,0.16,0.14,0.09,17.67
77805,9,34011370100010000001,992883.991787,1.862529e+06,0.18,0.14,0.11,0.12,0.23,0.52,...,2.81,2.40,2.13,1.40,1.02,0.75,0.43,0.31,0.22,38.76

In [30]:
df5 = df4[['X_COORD','Y_COORD','total']]

In [31]:
df5

             X_COORD       Y_COORD  total
0      956333.991787  1.850829e+06   1.98
1      956333.991787  1.850879e+06   2.47
2      956383.991787  1.850879e+06   1.19
3      956433.991787  1.851029e+06   4.73
4      956533.991787  1.851029e+06   1.57
...              ...           ...    ...
77801  992783.991787  1.862629e+06  25.50
77802  992833.991787  1.862229e+06  23.90
77803  992833.991787  1.862279e+06  16.87
77804  992883.991787  1.862479e+06  17.67
77805  992883.991787  1.862529e+06  38.76

[185438 rows x 3 columns]

In [33]:
df6 = df5.groupby(['X_COORD','Y_COORD']).sum()

In [34]:
df6

                             total
X_COORD       Y_COORD
956333.991787 1.850829e+06    2.29
              1.850879e+06    2.47
              1.850929e+06    1.45
956383.991787 1.850829e+06    1.15
              1.850879e+06    1.19
...                            ...
992783.991787 1.862629e+06   25.50
992833.991787 1.862229e+06   23.90
              1.862279e+06   16.87
992883.991787 1.862479e+06   65.78
              1.862529e+06  136.25

[80330 rows x 1 columns]

In [36]:
df6.to_csv('천안 유동인구.csv')